server {
  listen 80 default_server;
  root /var/www/wordpress;
  index index.php index.html index.htm;
  server_name localhost;

  location ~ \.php$ {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    include fastcgi_params;
  }
}

